@import url("src/styles/global.style.scss");
@import url("src/styles/reset.scss");

.banner {
  color: var(--white);

  display: flex;
  justify-content: center;
  gap: 100px;

  font-family: var(--main-font);

  margin-top: 75px;

  div {
    display: flex;
    flex-direction: column;
    gap: 30px;

    label {
      color: var(--color-primary);

      font-size: var(--label-size);
      font-weight: var(--label-weight);
    }

    h1 {
      font-size: var(--title-large);
      font-weight: var(--title-weight);
      width: 325px;
    }

    button {
      font-family: var(--main-font);
      font-size: var(--label-size);

      background: var(--color-primary);
      color: var(--white);

      width: 7.1875rem;
      padding: 0.75rem;
      border-radius: 0.75rem;

      border: none;

      &:hover {
        cursor: pointer;
        background: var(--color-primary-hover);
      }
    }

    img {
      max-width: 25%;
      max-height: 25%;
    }
  }
}
