@import url("src/styles/global.style.scss");
@import url("src/styles/reset.scss");

.projectcard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;

  border: 0.1px solid var(--white);
  padding: 15px 30px;
  border-radius: 25px;

  min-width: 400px;

  h3 {
    font-size: var(--title-small);
    font-weight: var(--title-weight);
  }

  a {
    color: #7b61ff;
    font-weight: var(--title-weight);

    position: relative;
    top: 30px;

    text-decoration: none;

    &:hover {
      text-decoration-line: underline;
      color: var(--color-primary-hover);
    }
  }

  img {
    position: relative;
    left: 375px;
    bottom: 130px;

    width: 35px;
    height: 35px;
  }
}
