@import url("src/styles/global.style.scss");
@import url("src/styles/reset.scss");

.about {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;

  font-family: var(--main-font);
  div {
    h1 {
      font-weight: var(--title-weight);
    }
    color: var(--white);
    display: flex;
    font-size: var(--title-medium);
  }
  p {
    color: var(--white);
    width: 475px;

    font-size: var(--text-size);
    line-height: 30px;
  }
}
