@import url("src/styles/global.style.scss");
@import url("src/styles/reset.scss");

.projectslist {
  color: var(--white);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  font-family: var(--main-font);

  width: 950px;
}
