@import url("src/styles/global.style.scss");
@import url("src/styles/reset.scss");

.header {
  font-family: var(--main-font);

  color: var(--white);

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 165px;

  padding: 10px;

  img {
    width: 70.6976px;
    height: 13.872px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  button {
    font-family: var(--main-font);
    font-size: var(--label-size);

    background: var(--color-primary);
    color: var(--white);

    width: 115px;
    padding: 12px;
    border-radius: 12px;

    border: none;

    &:hover {
      cursor: pointer;
      background: var(--color-primary-hover);
    }
  }
}

@media (max-width: 90rem) {
  .header {
    gap: 3.125rem;

    nav {
      gap: 3.125rem;
    }
  }
}

@media (max-width: 64rem) {
  .header {
    gap: 3.125rem;

    nav {
      gap: 3.125rem;
    }
  }
}

@media (max-width: 48rem) {
  .header {
    position: relative;
    left: 6.25rem;

    nav {
      gap: 3.125rem;
    }
  }
}

@media (max-width: 37.5rem) {
  .header {
    margin-top: 1.5625rem;

    position: relative;
    left: 9.375rem;
    flex-direction: column;
    padding: 0rem;
    gap: 1.5625rem;
    img {
      width: 9.375rem;
      height: 1.875rem;
    }
    nav {
      gap: 3.125rem;
      p {
        font-size: 1.5625rem;
      }
    }
    button {
      font-size: 1.375rem;
      width: 9.375rem;
    }
  }
}
