@import url("src/styles/global.style.scss");
@import url("src/styles/reset.scss");

.tech {
  color: var(--white);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  font-family: var(--main-font);
  font-size: var(--title-medium);
  font-weight: var(--title-weight);

  margin-top: 75px;

  h1 {
    position: relative;
    right: 315px;

    width: max-content;
  }
}
