@import url("src/styles/global.style.scss");
@import url("src/styles/reset.scss");

.tech {
  color: var(--white);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  font-family: var(--main-font);
  font-size: var(--title-medium);
  font-weight: var(--title-weight);

  margin-top: 75px;

  h1 {
    position: relative;
    right: 315px;

    width: max-content;
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
  .tech {
    ul {
      li {
        width: 140px;
        gap: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .tech {
    .card {
      position: relative;
      left: 75px;
    }
    h1 {
      left: 75px;
    }
  }
}

@media (max-width: 600px) {
  .tech {
    h1 {
      font-size: 50px;
    }
    ul {
      flex-direction: column;
      position: relative;
      left: 150px;
      li {
        width: 360px;
        padding: 50px;
        gap: 20px;
        img {
          width: 40px;
          height: 45px;
        }
        h3 {
          font-size: 30px;
        }
      }
    }
  }
}
